In [4]:
kaggle --version

NameError: name 'kaggle' is not defined

In [3]:
pip install opendatasets

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Collecting opendatasets
  Downloading opendatasets-0.1.22-py3-none-any.whl.metadata (9.2 kB)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from opendatasets) (4.66.4)
Requirement already satisfied: kaggle in c:\users\balasaravanamuthu\appdata\roaming\python\python312\site-packages (from opendatasets) (1.6.17)
Requirement already satisfied: click in c:\programdata\anaconda3\lib\site-packages (from opendatasets) (8.1.7)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from click->opendatasets) (0.4.6)
Requirement already satisfied: six>=1.10 in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (2024.8.30)
Requirement already satisfied: python-dateutil in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.9.0.post0)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.32.2)
Requirement already satisfied: python-slugify in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (5.0.2)
Requirement already satisfied: urllib3 in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.2.2)
Requirement already satisfied: bleach in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (4.1.0)
Requirement already satisfied: packaging in c:\programdata\anaconda3\lib\site-packages (from bleach->kaggle->opendatasets) (23.2)
Requirement already satisfied: webencodings in c:\programdata\anaconda3\lib\site-packages (from bleach->kaggle->opendatasets) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\programdata\anaconda3\lib\site-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests->kaggle->opendatasets) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->kaggle->opendatasets) (3.7)
Downloading opendatasets-0.1.22-py3-none-any.whl (15 kB)
Installing collected packages: opendatasets
Successfully installed opendatasets-0.1.22

In [5]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import os
os.getcwd()

'C:\\Users\\Balasaravanamuthu'

In [9]:
kaggle --version

NameError: name 'kaggle' is not defined

In [1]:
kaggle --version

NameError: name 'kaggle' is not defined

In [7]:
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
Downloading orders.csv.zip to C:\Users\Balasaravanamuthu

  0%|          | 0.00/200k [00:00<?, ?B/s]
100%|##########| 200k/200k [00:01<00:00, 204kB/s]
100%|##########| 200k/200k [00:01<00:00, 204kB/s]

In [9]:
import os
os.curdir

'.'

In [15]:
os.path

In [17]:
import zipfile

In [19]:
#path to download the zipfile
zip_file_path = "orders.csv.zip"  #"C:\Users\Balasaravanamuthu\orders.csv.zip"
print(zip_file_path)

orders.csv.zip

In [21]:
with zipfile.ZipFile(zip_file_path,'r') as zip_ref:
    zip_ref.extractall()

print("Extract done")

Extract done

In [3]:
import pandas as pd

In [5]:
csv_file_path = "orders.csv"
df = pd.read_csv(csv_file_path)
df.head()

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [7]:
df_renamed = df.rename(columns = {
    "Order Id" : "order_id",
    "Order Date" : "order_date",
    "Ship Mode" : "ship_mode",
    "Segment" : "segment",
    "Country" : "country",
    "City" : "city",
    "State" : "state",
    "Postal Code" : "postal_code",
    "Region" : "region",
    "Category" : "category",
    "Sub Category" : "sub_category",
    "Product Id" : "product_id",
    "cost price" : "cost_price",
    "List Price" : "list_price",
    "Quantity" : "quantity",
    "Discount Percent" : "discount_percent"
})

In [9]:
df_renamed

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3

In [11]:
#removing trailing space from text columns
df_renamed = df_renamed.apply(lambda x: x.str.rstrip() if x.dtype == 'Object' else x)

In [13]:
df_renamed['discount'] = df_renamed['list_price'] * (df_renamed['discount_percent'] / 100)

In [15]:
df_renamed['sale_price'] = df_renamed['list_price'] - df_renamed['discount']

In [19]:
df_renamed['profit'] = (df_renamed['sale_price'] - df_renamed['cost_price']) * df_renamed['quantity']

In [21]:
df_renamed

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,29.6
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,324.3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-1.0
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,804.0
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,1.2,28.8,-3.6
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,3.6,86.4,32.8
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,5.2,254.8,69.6
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,0.9,29.1,-3.6
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,7.2,232.8,45.6

In [27]:
df_renamed

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,29.6
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,324.3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-1.0
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,804.0
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,1.2,28.8,-3.6
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,3.6,86.4,32.8
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,5.2,254.8,69.6
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,0.9,29.1,-3.6
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,7.2,232.8,45.6

In [29]:
df_orders = df_renamed[['order_id','order_date','ship_mode','segment','country','city','state','postal_code','region']]

In [31]:
df_orders

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South
...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West

In [33]:
df_order_details = df_renamed[['order_id','category','sub_category','product_id','cost_price','list_price','quantity','discount_percent','discount','sale_price','profit']]

In [35]:
df_order_details

,order_id,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit
0,1,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,29.6
1,2,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,324.3
2,3,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-1.0
3,4,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,804.0
4,5,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-2.0
...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,1.2,28.8,-3.6
9990,9991,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,3.6,86.4,32.8
9991,9992,Technology,Phones,TEC-PH-10003645,220,260,2,2,5.2,254.8,69.6
9992,9993,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,0.9,29.1,-3.6
9993,9994,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,7.2,232.8,45.6

In [49]:
import pymysql

# MySQL connection details
username = 'root'  # Replace with your MySQL username
password = 'T1e2s3t4'  # Replace with your MySQL password
database = 'my_database'  # Replace with your MySQL database name
host = 'localhost'          # MySQL server host
port = 3306                 # MySQL server port (default: 3306)

# Connect to MySQL
connection = pymysql.connect(
    host=host,
    user=username,
    password=password,
    database=database,
    port=port
)

# Create cursor object to execute SQL queries
cursor = connection.cursor()

# Create 'orders' table with primary key
create_orders_table = """
CREATE TABLE IF NOT EXISTS orders (
    order_id INT PRIMARY KEY,
    order_date DATE NOT NULL,
    ship_mode VARCHAR(50),
    segment VARCHAR(50),
    country VARCHAR(50),
    city VARCHAR(50),
    state VARCHAR(50),
    postal_code INT,
    region VARCHAR(50)
);
"""

# Create 'products' table with foreign key referencing 'orders' table
create_order_details_table = """
CREATE TABLE IF NOT EXISTS order_details (
    product_id VARCHAR(50),
    order_id INT NOT NULL,
    category VARCHAR(50),
    sub_category VARCHAR(50),
    cost_price DECIMAL(10, 2),
    list_price DECIMAL(10, 2),
    quantity INT,
    discount_percent INT,
    discount INT,
    sale_price DECIMAL(10, 2),
    profit INT,
    FOREIGN KEY (order_id) REFERENCES orders(order_id) 
        ON DELETE CASCADE
        ON UPDATE CASCADE
);
"""

try:
    # Execute the SQL statements to create tables
    cursor.execute(create_orders_table)
    cursor.execute(create_order_details_table)
    
    # Commit changes
    connection.commit()

    print("Tables created successfully with primary and foreign key constraints.")
except Exception as e:
    print(f"Error: {e}")
    connection.rollback()
finally:
    # Close the connection
    cursor.close()
    connection.close()

Tables created successfully with primary and foreign key constraints.

In [51]:
import pandas as pd
from sqlalchemy import create_engine

try:
    username = "root"
    password = "T1e2s3t4"
    host = "localhost"
    port = "3306"
    database = "my_database"
    connection_string = f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}"

    engine = create_engine(connection_string)
    # Insert 'orders' DataFrame
    df_orders.to_sql('orders', con=engine, if_exists='append', index=False)
    
    # Insert 'order details' DataFrame
    df_order_details.to_sql('order_details', con=engine, if_exists='append', index=False)
    
    print("DataFrames inserted into MySQL successfully!")
except Exception as e:
    print(f"Error occurred: {e}")

DataFrames inserted into MySQL successfully!

In [25]:
import mysql.connector
from mysql.connector import Error

def create_database():
    try:
        # Connect to the MySQL server (not specifying a database yet)
        connection = mysql.connector.connect(
            host='localhost',  # or your MySQL server IP
            user='root',       # your MySQL username
            password='T1e2s3t4'  # your MySQL password
        )
        
        if connection.is_connected():
            # Create a cursor object to interact with MySQL
            cursor = connection.cursor()
            
            # Create the new database
            cursor.execute("CREATE DATABASE IF NOT EXISTS my_database")
            print("Database 'my_database' created successfully.")
            
    except Error as e:
        print(f"Error while creating database: {e}")
    
    finally:
        # Close the connection
        if connection.is_connected():
            cursor.close()
            connection.close()

# Call the function to create the database
create_database()

Database 'my_database' created successfully.

In [47]:
import pandas as pd
from sqlalchemy import create_engine

In [77]:
username = "root"
password = "T1e2s3t4"
host = "localhost"
port = "3306"
database = "GuviProj"
connection_string = f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}"
print(connection_string)
engine = create_engine(connection_string)

# Query the database using Pandas
#df = pd.read_sql("SELECT * FROM your_table", engine)

mysql+pymysql://root:T1e2s3t4@localhost:3306/GuviProj

In [61]:
pip install mysql

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Collecting mysql
  Downloading mysql-0.0.3-py3-none-any.whl.metadata (746 bytes)
Collecting mysqlclient (from mysql)
  Downloading mysqlclient-2.2.6-cp312-cp312-win_amd64.whl.metadata (4.8 kB)
Downloading mysql-0.0.3-py3-none-any.whl (1.2 kB)
Downloading mysqlclient-2.2.6-cp312-cp312-win_amd64.whl (207 kB)
   ---------------------------------------- 0.0/207.8 kB ? eta -:--:--
   ----- ---------------------------------- 30.7/207.8 kB ? eta -:--:--
   ------- ------------------------------- 41.0/207.8 kB 393.8 kB/s eta 0:00:01
   ----------- --------------------------- 61.4/207.8 kB 469.7 kB/s eta 0:00:01
   ----------------- --------------------- 92.2/207.8 kB 476.3 kB/s eta 0:00:01
   ---------------------- --------------- 122.9/207.8 kB 514.3 kB/s eta 0:00:01
   ----------------------------- -------- 163.8/207.8 kB 614.4 kB/s eta 0:00:01
   ------------------------------- ------ 174.1/207.8 kB 583.1 kB/s eta 0:00:01
   ------------------------------- ------ 174.1/207.8 kB 583.1 kB/s eta 0:00:01
   ------------------------------- ------ 174.1/207.8 kB 583.1 kB/s eta 0:00:01
   ----------------------------------- -- 194.6/207.8 kB 406.9 kB/s eta 0:00:01
   -------------------------------------- 207.8/207.8 kB 395.1 kB/s eta 0:00:00
Installing collected packages: mysqlclient, mysql
Successfully installed mysql-0.0.3 mysqlclient-2.2.6

In [63]:
pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Collecting mysql-connector-python
  Downloading mysql_connector_python-9.1.0-cp312-cp312-win_amd64.whl.metadata (6.2 kB)
Downloading mysql_connector_python-9.1.0-cp312-cp312-win_amd64.whl (16.1 MB)
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.1 MB 393.8 kB/s eta 0:00:41
   ---------------------------------------- 0.1/16.1 MB 655.4 kB/s eta 0:00:25
   ---------------------------------------- 0.1/16.1 MB 774.0 kB/s eta 0:00:21
    --------------------------------------- 0.2/16.1 MB 831.5 kB/s eta 0:00:20
    --------------------------------------- 0.2/16.1 MB 942.1 kB/s eta 0:00:17
    --------------------------------------- 0.3/16.1 MB 1.1 MB/s eta 0:00:15
    --------------------------------------- 0.4/16.1 MB 998.3 kB/s eta 0:00:16
   - -------------------------------------- 0.4/16.1 MB 1.1 MB/s eta 0:00:15
   - -------------------------------------- 0.5/16.1 MB 1.1 MB/s eta 0:00:15
   - -------------------------------------- 0.6/16.1 MB 1.1 MB/s eta 0:00:14
   - -------------------------------------- 0.6/16.1 MB 1.2 MB/s eta 0:00:14
   - -------------------------------------- 0.7/16.1 MB 1.2 MB/s eta 0:00:13
   -- ------------------------------------- 0.8/16.1 MB 1.3 MB/s eta 0:00:12
   -- ------------------------------------- 0.9/16.1 MB 1.3 MB/s eta 0:00:12
   -- ------------------------------------- 1.0/16.1 MB 1.4 MB/s eta 0:00:12
   -- ------------------------------------- 1.1/16.1 MB 1.4 MB/s eta 0:00:11
   --- ------------------------------------ 1.2/16.1 MB 1.5 MB/s eta 0:00:11
   --- ------------------------------------ 1.2/16.1 MB 1.5 MB/s eta 0:00:11
   --- ------------------------------------ 1.2/16.1 MB 1.5 MB/s eta 0:00:11
   --- ------------------------------------ 1.2/16.1 MB 1.5 MB/s eta 0:00:11
   --- ------------------------------------ 1.2/16.1 MB 1.5 MB/s eta 0:00:11
   --- ------------------------------------ 1.3/16.1 MB 1.2 MB/s eta 0:00:13
   --- ------------------------------------ 1.3/16.1 MB 1.2 MB/s eta 0:00:13
   --- ------------------------------------ 1.3/16.1 MB 1.2 MB/s eta 0:00:13
   --- ------------------------------------ 1.4/16.1 MB 1.2 MB/s eta 0:00:13
   --- ------------------------------------ 1.4/16.1 MB 1.1 MB/s eta 0:00:13
   --- ------------------------------------ 1.6/16.1 MB 1.2 MB/s eta 0:00:13
   ---- ----------------------------------- 1.6/16.1 MB 1.2 MB/s eta 0:00:12
   ---- ----------------------------------- 1.8/16.1 MB 1.3 MB/s eta 0:00:12
   ---- ----------------------------------- 1.9/16.1 MB 1.3 MB/s eta 0:00:11
   ---- ----------------------------------- 2.0/16.1 MB 1.3 MB/s eta 0:00:11
   ----- ---------------------------------- 2.1/16.1 MB 1.4 MB/s eta 0:00:11
   ----- ---------------------------------- 2.2/16.1 MB 1.4 MB/s eta 0:00:10
   ----- ---------------------------------- 2.3/16.1 MB 1.4 MB/s eta 0:00:10
   ------ --------------------------------- 2.4/16.1 MB 1.5 MB/s eta 0:00:10
   ------ --------------------------------- 2.6/16.1 MB 1.5 MB/s eta 0:00:09
   ------ --------------------------------- 2.7/16.1 MB 1.5 MB/s eta 0:00:09
   ------- -------------------------------- 2.9/16.1 MB 1.6 MB/s eta 0:00:09
   ------- -------------------------------- 3.0/16.1 MB 1.6 MB/s eta 0:00:09
   ------- -------------------------------- 3.1/16.1 MB 1.6 MB/s eta 0:00:08
   ------- -------------------------------- 3.2/16.1 MB 1.6 MB/s eta 0:00:08
   -------- ------------------------------- 3.3/16.1 MB 1.6 MB/s eta 0:00:08
   -------- ------------------------------- 3.3/16.1 MB 1.6 MB/s eta 0:00:08
   -------- ------------------------------- 3.4/16.1 MB 1.6 MB/s eta 0:00:08
   -------- ------------------------------- 3.5/16.1 MB 1.6 MB/s eta 0:00:08
   -------- ------------------------------- 3.6/16.1 MB 1.6 MB/s eta 0:00:08
   -------- ------------------------------- 3.6/16.1 MB 1.6 MB/s eta 0:00:08
   --------- ------------------------------ 3.8/16.1 MB 1.7 MB/s eta 0:00:08
   --------- ------------------------------ 3.8/16.1 MB 1.6 MB/s eta 0:00:08
   --------- ------------------------------ 3.9/16.1 MB 1.7 MB/s eta 0:00:08
   --------- ------------------------------ 4.0/16.1 MB 1.7 MB/s eta 0:00:08
   ---------- ----------------------------- 4.1/16.1 MB 1.7 MB/s eta 0:00:08
   ---------- ----------------------------- 4.2/16.1 MB 1.7 MB/s eta 0:00:08
   ----------- ---------------------------- 4.5/16.1 MB 1.7 MB/s eta 0:00:07
   ----------- ---------------------------- 4.5/16.1 MB 1.7 MB/s eta 0:00:07
   ----------- ---------------------------- 4.6/16.1 MB 1.8 MB/s eta 0:00:07
   ----------- ---------------------------- 4.7/16.1 MB 1.7 MB/s eta 0:00:07
   ----------- ---------------------------- 4.8/16.1 MB 1.7 MB/s eta 0:00:07
   ------------ --------------------------- 4.9/16.1 MB 1.8 MB/s eta 0:00:07
   ------------ --------------------------- 5.0/16.1 MB 1.8 MB/s eta 0:00:07
   ------------- -------------------------- 5.2/16.1 MB 1.8 MB/s eta 0:00:06
   ------------- -------------------------- 5.3/16.1 MB 1.8 MB/s eta 0:00:06
   ------------- -------------------------- 5.4/16.1 MB 1.8 MB/s eta 0:00:06
   ------------- -------------------------- 5.4/16.1 MB 1.8 MB/s eta 0:00:06
   ------------- -------------------------- 5.4/16.1 MB 1.8 MB/s eta 0:00:06
   ------------- -------------------------- 5.5/16.1 MB 1.8 MB/s eta 0:00:06
   ------------- -------------------------- 5.6/16.1 MB 1.8 MB/s eta 0:00:06
   -------------- ------------------------- 5.7/16.1 MB 1.8 MB/s eta 0:00:06
   -------------- ------------------------- 5.7/16.1 MB 1.8 MB/s eta 0:00:06
   -------------- ------------------------- 5.7/16.1 MB 1.7 MB/s eta 0:00:06
   -------------- ------------------------- 5.8/16.1 MB 1.7 MB/s eta 0:00:06
   -------------- ------------------------- 5.9/16.1 MB 1.7 MB/s eta 0:00:06
   --------------- ------------------------ 6.2/16.1 MB 1.8 MB/s eta 0:00:06
   --------------- ------------------------ 6.3/16.1 MB 1.8 MB/s eta 0:00:06
   ---------------- ----------------------- 6.5/16.1 MB 1.8 MB/s eta 0:00:06
   ---------------- ----------------------- 6.6/16.1 MB 1.9 MB/s eta 0:00:06
   ----------------- ---------------------- 6.8/16.1 MB 1.9 MB/s eta 0:00:05
   ----------------- ---------------------- 6.9/16.1 MB 1.9 MB/s eta 0:00:05
   ----------------- ---------------------- 7.2/16.1 MB 1.9 MB/s eta 0:00:05
   ------------------ --------------------- 7.4/16.1 MB 2.0 MB/s eta 0:00:05
   ------------------ --------------------- 7.5/16.1 MB 2.0 MB/s eta 0:00:05
   ------------------- -------------------- 7.7/16.1 MB 2.0 MB/s eta 0:00:05
   ------------------- -------------------- 7.9/16.1 MB 2.0 MB/s eta 0:00:05
   -------------------- ------------------- 8.0/16.1 MB 2.0 MB/s eta 0:00:04
   -------------------- ------------------- 8.1/16.1 MB 2.0 MB/s eta 0:00:04
   -------------------- ------------------- 8.3/16.1 MB 2.0 MB/s eta 0:00:04
   -------------------- ------------------- 8.4/16.1 MB 2.0 MB/s eta 0:00:04
   --------------------- ------------------ 8.6/16.1 MB 2.1 MB/s eta 0:00:04
   --------------------- ------------------ 8.8/16.1 MB 2.1 MB/s eta 0:00:04
   ---------------------- ----------------- 8.9/16.1 MB 2.1 MB/s eta 0:00:04
   ---------------------- ----------------- 9.1/16.1 MB 2.1 MB/s eta 0:00:04
   ----------------------- ---------------- 9.3/16.1 MB 2.2 MB/s eta 0:00:04
   ----------------------- ---------------- 9.6/16.1 MB 2.2 MB/s eta 0:00:03
   ------------------------ --------------- 10.0/16.1 MB 2.2 MB/s eta 0:00:03
   ------------------------- -------------- 10.2/16.1 MB 2.3 MB/s eta 0:00:03
   -------------------------- ------------- 10.5/16.1 MB 2.4 MB/s eta 0:00:03
   -------------------------- ------------- 10.7/16.1 MB 2.5 MB/s eta 0:00:03
   -------------------------- ------------- 10.8/16.1 MB 2.5 MB/s eta 0:00:03
   --------------------------- ------------ 11.0/16.1 MB 2.5 MB/s eta 0:00:03
   --------------------------- ------------ 11.1/16.1 MB 2.5 MB/s eta 0:00:02
   --------------------------- ------------ 11.2/16.1 MB 2.5 MB/s eta 0:00:02
   ---------------------------- ----------- 11.3/16.1 MB 2.5 MB/s eta 0:00:02
   ---------------------------- ----------- 11.4/16.1 MB 2.5 MB/s eta 0:00:02
   ---------------------------- ----------- 11.5/16.1 MB 2.7 MB/s eta 0:00:02
   ---------------------------- ----------- 11.6/16.1 MB 2.7 MB/s eta 0:00:02
   ----------------------------- ---------- 11.7/16.1 MB 2.8 MB/s eta 0:00:02
   ----------------------------- ---------- 11.8/16.1 MB 2.7 MB/s eta 0:00:02
   ----------------------------- ---------- 11.8/16.1 MB 2.7 MB/s eta 0:00:02
   ----------------------------- ---------- 11.9/16.1 MB 2.7 MB/s eta 0:00:02
   ------------------------------ --------- 12.1/16.1 MB 2.7 MB/s eta 0:00:02
   ------------------------------ --------- 12.2/16.1 MB 2.8 MB/s eta 0:00:02
   ------------------------------ --------- 12.4/16.1 MB 2.8 MB/s eta 0:00:02
   ------------------------------- -------- 12.5/16.1 MB 2.8 MB/s eta 0:00:02
   ------------------------------- -------- 12.6/16.1 MB 2.7 MB/s eta 0:00:02
   ------------------------------- -------- 12.6/16.1 MB 2.7 MB/s eta 0:00:02
   ------------------------------- -------- 12.7/16.1 MB 2.7 MB/s eta 0:00:02
   ------------------------------- -------- 12.7/16.1 MB 2.7 MB/s eta 0:00:02
   ------------------------------- -------- 12.7/16.1 MB 2.7 MB/s eta 0:00:02
   ------------------------------- -------- 12.8/16.1 MB 2.7 MB/s eta 0:00:02
   ------------------------------- -------- 12.8/16.1 MB 2.6 MB/s eta 0:00:02
   -------------------------------- ------- 12.9/16.1 MB 2.6 MB/s eta 0:00:02
   -------------------------------- ------- 13.0/16.1 MB 2.6 MB/s eta 0:00:02
   -------------------------------- ------- 13.1/16.1 MB 2.6 MB/s eta 0:00:02
   --------------------------------- ------ 13.3/16.1 MB 2.6 MB/s eta 0:00:02
   --------------------------------- ------ 13.4/16.1 MB 2.6 MB/s eta 0:00:02
   --------------------------------- ------ 13.5/16.1 MB 2.6 MB/s eta 0:00:01
   ---------------------------------- ----- 13.7/16.1 MB 2.7 MB/s eta 0:00:01
   ---------------------------------- ----- 13.9/16.1 MB 2.7 MB/s eta 0:00:01
   ---------------------------------- ----- 14.0/16.1 MB 2.7 MB/s eta 0:00:01
   ----------------------------------- ---- 14.2/16.1 MB 2.8 MB/s eta 0:00:01
   ----------------------------------- ---- 14.3/16.1 MB 2.8 MB/s eta 0:00:01
   ------------------------------------ --- 14.5/16.1 MB 2.8 MB/s eta 0:00:01
   ------------------------------------ --- 14.7/16.1 MB 2.8 MB/s eta 0:00:01
   ------------------------------------ --- 14.8/16.1 MB 2.8 MB/s eta 0:00:01
   ------------------------------------- -- 14.9/16.1 MB 2.8 MB/s eta 0:00:01
   ------------------------------------- -- 15.2/16.1 MB 2.9 MB/s eta 0:00:01
   -------------------------------------- - 15.5/16.1 MB 2.9 MB/s eta 0:00:01
   ---------------------------------------  15.8/16.1 MB 3.1 MB/s eta 0:00:01
   ---------------------------------------  16.0/16.1 MB 3.2 MB/s eta 0:00:01
   ---------------------------------------  16.1/16.1 MB 3.2 MB/s eta 0:00:01
   ---------------------------------------  16.1/16.1 MB 3.2 MB/s eta 0:00:01
   ---------------------------------------  16.1/16.1 MB 3.2 MB/s eta 0:00:01
   ---------------------------------------- 16.1/16.1 MB 3.1 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.1.0
Note: you may need to restart the kernel to use updated packages.

In [65]:
pip install pymysql

Defaulting to user installation because normal site-packages is not writeable
Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/45.0 kB ? eta -:--:--
   ---------------------------------------- 0.0/45.0 kB ? eta -:--:--
   --------- ------------------------------ 10.2/45.0 kB ? eta -:--:--
   ------------------ --------------------- 20.5/45.0 kB 162.5 kB/s eta 0:00:01
   ------------------------------------ --- 41.0/45.0 kB 245.8 kB/s eta 0:00:01
   ---------------------------------------- 45.0/45.0 kB 246.3 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Note: you may need to restart the kernel to use updated packages.

In [79]:
# Load the DataFrame into MySQL table (Replace the table if it already exists)
df_renamed.to_sql('orders', engine, if_exists='replace', index=False)

9994

In [2]:
df_renamed

NameError: name 'df_renamed' is not defined